body {
  margin: 0;
  padding: 25px;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.main-class {
  background-image: url('images/header-illsutration-mobile@2x.png');
  margin: 0;
  padding: 25px;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.icon-bar,
li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 50%;
  margin: auto;
}

.introduction-text {
  text-align: center;
}

#Greeting-text {
  color: #172b4d;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#profession-text {
  color: #36b37f;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#logo-text {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

a {
  color: black;
}

.arrow-icon {
  display: flex;
  align-items: center;
  margin-right: 167px;
  margin-left: 168px;
  width: auto;
}

.arrow-icon i {
  font-size: 30px;
  color: #172b4d;
}

.icon-x {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 40px;
  height: 40px;
  border: 1px solid #d7dbdd;
  border-radius: 32px;
  margin-right: 167px;
  margin-left: 168px;
  box-shadow:
    0 2px 1px rgb(0, 0, 0, 0.5),
    0 2px 3px rgb(0, 0, 0, 0.05),
    0 4px 8px rgb(0, 0, 0, 0.05);
}

#line {
  align-self: center;
  width: 48px;
  top: 10px;
  height: 4px;
  background-color: #36b37e;
  border-radius: 24px;
}

* {
  box-sizing: border-box;
}

#text-tag {
  text-align: center;
  font-size: 35px;
  color: #172b4d;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 26px;
  margin-right: 22px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.content {
  padding-top: 34px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.content a {
  margin: 25px 10px 0 12px;
  display: block;
  width: 100%;
  align-content: center;
}

.name {
  color: #172b4d;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  line-height: 107%;
  margin: 30px 0 20px 0;
}

.content .projects-container {
  display: inline-grid;
  margin: 68px 0;
  row-gap: 24px;
}

.content h2 {
  color: #172b4d;
  font-size: 45px;
  font-weight: bold;
  line-height: 107%;
  margin: 30px 0 20px 0;
  text-align: center;
}

.content .project-box {
  border: 2px solid #d0d9d4;
  border-radius: 5px;
}

.projects-container .project-details {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.projects-container a {
  color: #3a4a42;
  margin: 6px;
  padding: 9px;
  width: max-content;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background-color: #ebf0ee;
  border-radius: 5px;
  font-weight: 600;
}

.projects-container div {
  border: 1px #ebf0ee;
  text-align: center;
}

.projects-container img {
  width: 100%;
}

.projects-container h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 16px 16px 16px 16px;
  font-weight: 600;
}

.projects-container .button {
  background-color: #36b37e;
  border-radius: 7px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  line-height: 117%;
  margin: 29px 103px 24px 103px;
  border: none;
}

.about {
  background-image: url('images/background1.svg');
  background-position: top right;
  background-repeat: no-repeat;
}

.content .skills-box {
  border: 2px solid #d0d9d4;
  border-radius: 5px;
  background-color: #ebf0ee;
}

.about p {
  color: #172b4d;
  text-align: center;
  font-weight: 350;
  margin: 24px 15px 1px;
  font-style: normal;
  line-height: 32px;
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
}

.content .lang-container {
  display: inline-grid;
  margin: 59px 0;
  row-gap: 54px;
}

.lang-container a {
  color: #36b37e;
  margin: 6px;
  padding: 9px;
  width: max-content;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
}

.about .button {
  background-color: #36b37e;
  border-radius: 7px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  height: 48px;
  width: 159px;
  margin: 29px 103px 24px 103px;
  border: none;
}

.lang-container img {
  width: 150px;
  height: 150px;
  object-position: 0 25px;
}

.lang-container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ebf0ee;
  margin: 24px 30px 24px 30px;
}

.content button:hover {
  background-color: #008552;
}

.about h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.project-details h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.skills-box a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.project-details ul a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 15px;
}

.skills-box h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #344563;
}

.skills-box li {
  display: flex;
  flex: 1;
}

.div-contact {
  background-image: url("images/Frame.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.contact .email-address {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #42526e;
  text-decoration: none;
}

.buttom-contact-form:focus {
  background-color: #008552;
}

.buttom-contact-form:hover {
  background-color: #36b37f;
}

.buttom-contact-form {
  background-color: #36b37e;
  border-radius: 7px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  line-height: 117%;
  margin-inline: auto;
  border: none;
  width: 129px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1.5px solid #36b37e;
}

.contact-form textarea {
  outline: none;
  padding: 12px;
  border: 1.5px solid lightgray;
  border-radius: 0.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  line-height: 24px;
  color: #091e42;
}

.contact-form input {
  padding: 0.9em;
  border-radius: 0.25em;
  border: 1.5px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  padding-inline: 1em;
  margin-bottom: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.contact .name {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding-inline: 0.5em;
  padding-bottom: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}


.contact {
  padding-bottom: 16em;
}

.content button:hover {
  background-color: #008552;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  gap: 5px;
}

.social a {
  color: #505f79;
}
